#Client configuration.
#To avoid unnecessary coding problems, please use the English.

#Configured to connect to the server.
[Remote]
Local Host = 192.168.199.183
Local Port = 61234
Remote Host = 192.168.199.183
Remote Port = 8089
HeartBeat Delay = 60

#To avoid unnecessary coding problems, please use the English name of the directory.
#Mainly used for backup files, log files and cache file storage
[Storage]
Storage Path = /path/to/storage

#To avoid unnecessary coding problems, please use the English name of the directory.
#This configuration is sent to the server to set up the monitoring directory.
# e.g. C:\Soft\xampp\htdocs,C:\Users\dell\Desktop\htdocs
[Monitor]
Monitor Path List = /Applications/XAMPP/htdocs

